@font-face {
  font-family: Pixel;
  font-weight: 600;
  src: url('./assets/fonts/19363.ttf');
}

body {
  margin: 0;
  font-family: Pixel;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
